@model App_Agenda_Fatec.Models.Block

@{

    ViewData["Title"] = "Detalhes do Bloco";

}

<h1>Detalhes do Bloco</h1>

<div>

    <h4>Block</h4>

    <hr />

    <dl class="row">

        <dt class = "col-sm-2">
            Nome:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class = "col-sm-2">
            Ativado?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>

</div>

<div>

    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>

@section CSS {

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

}