@model App_Agenda_Fatec.Models.Role

@{

    ViewData["Title"] = "Cadastro de Cargo";

}

<section id="module-form">

    <h1> Cadastro de Cargo </h1>

    <form asp-action="Create">

        <div asp-validation-summary="ModelOnly" class="alert">  </div>

        <label asp-for="Name">Nome:</label>
        <input asp-for="Name" type="text" id="nome" maxlength="255" autocomplete="off"/>
        <span asp-validation-for="Name" class="alert"></span>

        <div id="buttons">

            <a asp-action="Index"> Cancelar </a>

            <button type="reset"> Limpar </button>

            <button id="focus" type="submit"> Cadastrar </button>

        </div>

    </form>

</section>

@section CSS {

    <link rel="stylesheet" type="text/css" href="~/css/Form.css" asp-append-version="true"/>

}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}