﻿@{

    ViewData["Title"] = "Acesso Negado";

}

<section id="error">

    <figure> <img src="~/img/Storyset/Inautorizado.svg" alt="Acesso Negado"> </figure>

    <h2> Acesso Negado! </h2>

    <p> O usuário logado não tem permissão para acessar esse recurso. </p>

</section>

@section CSS {

    <link rel="stylesheet" type="text/css" href="~/css/Erro.css" asp-append-version="true"/>

}