﻿@{

    ViewData["Title"] = "Acesso Negado";

}

<h1> Erro de Permissão! </h1>

<hr />

<div class="row">

    <div class="col-md-4">

        <div asp-validation-summary="All" class="text-danger">  </div>

        <p> O usuário autenticado não possui permissão para acessar o recurso requisitado! </p>

    </div>

</div>

<div>

    <br />
    <a asp-controller="Home" asp-action="Index"> Back to Home </a>

</div>

@section CSS {

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

}