<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title> @ViewData["Title"] | Agenda Fatec </title>

        <link rel="stylesheet" type="text/css" href="~/css/Global.css" asp-append-version="true"/>

        @await RenderSectionAsync("CSS", required: false)

    </head>

    <body>

        <div id="blocker">

            <div id="menu">

                <figure> <img src="~/img/Logo.png" alt="Logo">  </figure>

                <button id="close-menu"> Fechar Menu </button>

                <nav>

                    <a asp-controller="Home" asp-action="Index"> Início </a>
                    <a asp-controller="Room" asp-action="Available"> Salas </a>
                    <a asp-controller="Home" asp-action="Team"> Equipe </a>
                    <a asp-controller="Home" asp-action="Help"> Ajuda </a>

                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {

                        string[][] modules = [
                        
                            ["Requisições", "Scheduling"],
                            ["Blocos", "Block"],
                            ["Cargos", "Role"],
                            ["Equipamentos", "Equipment"],
                            ["Salas", "Room"],
                            ["Usuários", "User"]
                            
                        ];

                        <details>

                            <summary> Administração </summary>

                            @foreach (string[] module in modules)
                            {

                                <a asp-controller="@module[1]" asp-action="Index"> @module[0] </a>

                            }

                        </details>

                    }

                </nav>

            </div>

        </div>

        <div id="container">

            <header>

                <nav>

                    <button id="open-menu"> <i class="bx bx-menu">  </i> </button>

                    <div id="access">

                        @{

                            if (User?.Identity?.IsAuthenticated ?? false)
                            {

                                <a id="logout" asp-controller="Auth" asp-action="Logout"> Sair </a>

                            }

                            else
                            {

                                <a asp-controller="User" asp-action="Create"> Cadastro </a>

                                <a asp-controller="Auth" asp-action="Login"> Login </a>

                            }

                        }

                    </div>

                </nav>

            </header>

            <main>

                @RenderBody()

            </main>

        </div>

        <script src="~/lib/jquery/dist/jquery.min.js">  </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">  </script>

        <script type="text/javascript" src="~/js/Global.js" asp-append-version="true">  </script>

        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>