@{

    ViewData["Title"] = "Equipe de Desenvolvimento";

}

<section id="team">

    <h1> Equipe do Projeto </h1>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Pablo.jpg" alt="Pablo"> </figure>

        <h2> Pablo Valentin </h2>

        <section class="contact">

            <a href="mailto:pablo.valentin@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/PabloValentin94"> <i class="bx bxl-github">  </i> </a>
            <a href="https://www.linkedin.com/in/pablo-valentin/"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Thiago.jpg" alt="Thiago"> </figure>

        <h2> Thiago Franca de Figueredo </h2>

        <section class="contact">

            <a href="mailto:thiago.figueredo@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/thiagofjau"> <i class="bx bxl-github">  </i> </a>
            <a href="https://www.linkedin.com/in/tffjau/"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Deivide.jpg" alt="Deivide"> </figure>

        <h2> Deivide Benedito dos Santos </h2>

        <section class="contact">

            <a href="mailto:deivide.santos01@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/DeivideBS"> <i class="bx bxl-github">  </i> </a>
            <a href="https://github.com/DeivideBS"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Pedro.jpg" alt="Pedro"> </figure>

        <h2> Pedro Henrique Lucatto </h2>

        <section class="contact">

            <a href="mailto:pedro.lucatto@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/Pedro-Lucatto"> <i class="bx bxl-github">  </i> </a>
            <a href="https://github.com/Pedro-Lucatto"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

</section>

@section CSS {

    <link rel="stylesheet" type="text/css" href="~/css/Equipe.css" asp-append-version="true"/>

}