@model App_Agenda_Fatec.Models.Equipment

@{

    ViewData["Title"] = "Alteração da Ativação do Equipamento";

}

<h1>Alteração da Ativação do Equipamento</h1>

<div>

    <h4>Equipment</h4>

    <hr />

    <dl class="row">

        <dt class = "col-sm-2">
            Nome:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class = "col-sm-2">
            Ativado?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
    
    <form asp-action="ModifyActivation">

        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>

    </form>

</div>

@section CSS {

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

}